# To install this (utilities) library: `$ pip install git+https://github.com/OSuwaidi/utilities.git@main`
# To update it to latest version: `$ pip install -U git+https://github.com/OSuwaidi/utilities.git@main`

pyarrow
polars
plotly
bokeh
panel
pympler  # useful for monitoring and analyzing memory footprint of Python objects
watchfiles
MissForest
ruff
matplotlib
streamlit
streamlit_letsplot
watchdog
lets-plot
numpy
bkmeans
scikit-learn
statsmodels
scipy
rich
missingpy
opencv-python
openai
tqdm
nltk
tabulate
pyodbc
pipreqs
pympler
pip-review
git+https://github.com/OSuwaidi/utilities.git@main

# To compile this file: `$ pip install -U pip-tools` --> `$ pip-compile requirements.in -o requirements.txt`
# To update an already compiled "requirements.txt" file: `$ pip-compile --upgrade requirements.in`
# To use `pipreqs`: `$ pipreqs /path/to/your/project` to generate a "requirements.txt" with the detected non-standard libraries
